@import "tailwindcss";

@font-face {
  font-family: "Madison Sauvage Script";
  src: url("/fonts/madison-sauvage-script.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-principal: #70805a;
  --color-secundario: #8a9a6a;
  --color-hover: #5f6f4a;

  --color-wine: #371510;
  --color-blush: #e5c8bd;
  --color-olive-dark: #50492e;
  --color-cream: #f2e9dc;
  --color-sage: #9f9977;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-montserrat), "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
.font-script {
  font-family: "Madison Sauvage Script", "Montserrat", serif;
}
