@import "tailwindcss";
@import '@fontsource-variable/montserrat';

@font-face {
  font-family: "Madison Sauvage Serif";
  src: url("/fonts/madison-sauvage-serif.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-principal: #70805a;
  --color-secundario: #8a9a6a;
  --color-hover: #5f6f4a;

  --color-wine: #371510;
  --color-blush: #e5c8bd;
  --color-olive-dark: #50492e;
  --color-cream: #f2e9dc;
  --color-sage: #9f9977;
}

html {
  scroll-behavior: smooth;
}

p {
  font-family: "Madison Sauvage Serif", serif;
}

body {
  font-family: 'Montserrat Variable', sans-serif;
}
